<html>
<head>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
    </style>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var coordMap = {};
        var poly;
        var map;

        function loadMap() {
            var center = new google.maps.LatLng(44.998501, -93.246544) // spyhouse
            var mapOptions = {
                zoom: 16,
                center: center,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var polyOptions = {
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 3
            };
            poly = new google.maps.Polyline(polyOptions);
            poly.setMap(map);

        }

        google.maps.event.addDomListener(window, 'load', loadMap);

        function applyData(data) {
            var coordinate_order = [];
            var coord_readings = {};
            // assoc readings with to coordinate
            for (var i = 0; i < data.length; i++) {
                var point_entry = coord_readings[data[i].location];
                if (!point_entry) {
                    point_entry = {'lux': [], 'tmp': []};
                    coord_readings[data[i].location] = point_entry;
                    coordinate_order.push(data[i].location);
                }
                for (var j = 0; j < data[i].readings.length; j++) {
                    console.log("data[i]: "+JSON.stringify(data[i]));
                    console.log("nature: "+JSON.stringify(data[i].nature));
                    var t = point_entry[data[i].nature];
                    t.push(data[i].readings[j]);
                }
                coord_readings[data[i].location] = point_entry;
            }

            var path = poly.getPath();
            path.clear();

            // create map lines according to coordinate keys
            for(var m=0; m < coordinate_order.length; m++) {
                var points = coordinate_order[m].split(' ');
                var lat = points[0];
                var lon = points[1];
                var gpoint = new google.maps.LatLng(lat, lon);
                if(coordMap[lat+"~~"+lon] === undefined) {
                    console.log("adding point")
                    // create the annotated points
                    var point_entry = coord_readings[coordinate_order[m]];
                    new google.maps.Marker({
                        position: gpoint,
                        title: ""+ m +": "+point_entry['tmp'] + '°C ' + point_entry['lux'] + 'lx',
                        map: map
                    });
                    path.push(gpoint); // add the point
                    //coordMap[lat+"~~"+lon] = gpoint // add the point to the cache of already-rendered points
                }
            }
        }
    </script>
    {% if tracked_robot %}
        <script>
            (function poll() {
                setTimeout(function () {
                    $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '{% uri_for robot-event-get robot_id=tracked_robot.robot_id %}',
                        success: function (data) {
                            applyData(data);
                        },
                        complete: poll
                    });
                }, 5000);
            })();
        </script>
    {% endif %}
</head>

<body>

<a href="{% uri_for main %}">home</a>

<h1>Robot Tracker</h1>

{% if robots %}
    {% for robot in robots %}
    <a href="{% uri_for robot-track-get robot_id=robot.robot_id %}">track robot {{ robot.robot_id }}</a>
    {% endfor %}
{% else %}
    <h2>No robots found!</h2>
    A robot has to send us sensor data for us to show.
{% endif %}

<div id="map-canvas"></div>

</body>

</html>
